<div class="modal-dialog">
    <div class="modal-content">
<form id="categoryForm" method="post" action='/category' class="form-horizontal">
	<div class="modal-header">
		<h3 id="categoryTitle">添加分类</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
	    	<label class="control-label" for="inputEmail">分类名</label>
		    <div class="controls">
		      <input id="categoryName" type="text" name="categoryName" />
		    </div>
	  	</div>
		<div class="control-group">
	    	<label class="control-label" for="inputImg">分类链接图片</label>
		    <div class="controls">
		      <input id="categoryImgName" type="text" name="categoryImgName" />
		    </div>
	  	</div>
	  	<div class="control-group">
	    	<label class="control-label" for="inputDesc">简介</label>
		    <div class="controls">
		      <input id="categoryDesc" type="text" name="categoryDesc" />
		    </div>
	  	</div>
		
	</div>
	<div>
		<button class="btn" data-dismiss="modal" >取消</button>
		<button id="categoryAdd" type="submit" class="btn btn-primary">增加</button>
	</div>
</form>
        </div>
    </div>