<div class="divAbout">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">版权声明</li>
    </ul>
    <p>版权声明</p>

    <p> 尽管我国尚未制订专门针对互联网上版权（著作权）的法律和法规，但我们根据我国现行著作权法的有关原则以及我们对网上作品版权保护的理解，就筱站网站内容的版权事宜，作如下申明：</p>

    <p>
        一、筱站是该网站上所有页面设计、页面内容的著作权人；未经本网站授权，任何商业行为个人或组织不得抄袭、转载、摘编、修改本网站内容；任何非盈利性个人或者组织可以自由传播（禁止修改、断章取义等）本网站内容，但是必须注明文章或资源来源；</p>

    <p> 二、 本网站对网民上载的文章作品著作权归属不负事先审查义务；上载人应当在确信自己没有侵害他人著作权的前提之下，向本网站上载文章作品，否则应当自行承担有关法律责任；</p>

    <p> 三、 本网站反对任何形式的侵害计算机软件著作权人合法权益的行为，提倡所有网民尊重著作权人的合法权益；</p>

    <p> 四、
        用户通过筱站途径发表的一切原创信息，包括但不限于文章、图片、FLASH、影音文件等，其版权归筱站及该用户共同所有。筱站所有权在筱站及筱站自行开设或与合作伙伴共同开设的其他专栏内摘录、转载和引用此类信息全部的或部分的内容。</p>

    <p> 五、 著作权人声明或者本网站受著作权人授权声明不得转载、摘编其作品的，任何人不得擅自转载、摘编，否则必须承担一切法律后果；</p>

    <p> 六、 <span>著作权人发现本网站载有侵害其合法权益的内容或作品，要求本网站提供侵权人注册资料或删除所谓侵权内容，必须向本网站版权律师提供下列6项材料，否则本网站视其著作权权属抗议无效：</span>
    <ol>
        <li> 本人的身份证明文件；</li>
        <li> 著作权权属证明；</li>
        <li> 侵害著作权作品在本网站的所在位置；</li>
        <li> 著作权人的必要的真实的联系方法；</li>
        <li> 对于自身提供的上述资料的真实性的书面保证；</li>
        <li> 法律明文要求的其他资料</li>
    </ol>
    </p>
</div>