<form method="post" enctype="multipart/form-data" action="/headPortraitUpload">
<fieldset>
<legend>头像上传</legend>
<img src="images/user/<%=user.imgPath %>" style="width:100px;height:100px" />
<img src="images/user/<%=user.imgPath %>" style="width:50px;height:50px" />
<p>选择一张图片: <input type="file" name="image" /></p>
<p>头像图片要在2M以内，支持格式：PNG/JPG/JIF</p>
<p><input type="submit" value="上传" class="btn"/></p>
</fieldset>
</form>