<div class="divAbout">
    <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">简介</li>
    </ul>
    <p>筱站简介 - 展示自我 Show me</p>

    <p>所用技术：用nodejs语言express框架进行开发，前段框架用到ejs,数据库为mongodb。</p>

    <p>开发背景：<br>
        无意中在网上看到node.js,说是一门可以在服务器端运行的js语言，想到如果一个网站前后端都用js编写，应该是一件很酷的事情，于是开始了nodejs的学习。<br>
        只是这门语言的中文资料相对较少，当时比较好的一本教程就是nodejs开发指南，一边学习，一边敲书中的例子代码（各种坑啊，学的是相当的艰难）。<br>
        2013年8月15日，开始了用nodejs开发自己的blog的历程(mongodb也是个坑，不支持多表连查，开发的过程也是很纠结)。<br>
        今天，如你所能看到的，就是这个样子。</p>
</div>