<ul class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">sounds</li>
</ul>
<audio controls="controls">
  <source src="/sounds/song.ogg" type="audio/ogg">
  <source src="/sounds/wozhizaihuni.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>